from urls import *


DEBUG = True

COMMENT                    = "ec2 pub ipv4 autoupdate"
CLOUDFLARE_DNS_EDIT_APIKEY = "paste api token here"
CLOUDFLARE_ZONEID          = "paste zone id here"

TARGET_DNSINFOS = [
{
	"name": "sub1.example.com",
	"proxied": False,
	"type": "A",
	"comment": COMMENT,
	"tags": [],
	"ttl": 1,
}, {
	"name": "sub2.example.com",
	"proxied": True,
	"type": "A",
	"comment": COMMENT,
	"tags": [],
	"ttl": 1,
},
]
