
DEBUG = True

COMMENT                    = "ec2 pub ipv4 autoupdate"
CLOUDFLARE_ZONEID          = "00000000000000000000000000000000"
CLOUDFLARE_DNS_EDIT_APIKEY = "0000000000000000000000000000000000000000"

TARGET_DNSINFOS = [
{
	"name": "dev.example.com",
	"proxied": False,
	"type": "A",
	"comment": COMMENT,
	"tags": [],
	"ttl": 1,
},
]
